<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>

<body>
    <ul>
        
        <li> {{uc .Name}} - {{.Motto}}</li>
        <li> {{ft .Name}} - {{.Motto}}</li>
    </ul>
</body>
</html>
